<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- your app's js -->
    @Scripts.Render("~/bundles/lib")
    <script src="https://www.gstatic.com/firebasejs/3.0.3/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.0/angularfire.min.js"></script>
    @Scripts.Render("~/bundles/app")
    @Styles.Render("~/Content/css")


    <script>
        var config = {
            apiKey: "AIzaSyCYLwSBEiXWsmPytQ1cHxVg39mXFmfplOs",
            authDomain: "akkaplayground.firebaseapp.com",
            databaseURL: "https://akkaplayground.firebaseio.com",
            storageBucket: "akkaplayground.appspot.com",
        };
        firebase.initializeApp(config);
    </script>

    <script src="/AkkaPlaygrond.Web/signalr/js"></script>

</head>
<body>
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view></ion-nav-view>
</body>
</html>
