/AkkaPlayground/AkkaPlayground.Messages/bin
/AkkaPlayground/AkkaPlayground.Messages/obj
/AkkaPlayground/AkkaPlayground.RemoteTarget/bin
/AkkaPlayground/AkkaPlayground.RemoteTarget/obj
/AkkaPlayground/AkkaPlayground.Core/obj
/AkkaPlayground/AkkaPlayground/bin
/AkkaPlayground/AkkaPlayground/obj
/AkkaPlayground/AkkaPlaygrond.Web/obj
/AkkaPlayground/AkkaPlaygrond.Web/bin
/AkkaPlayground/AkkaPlaygrond.Web/App_Data
/AkkaPlayground/AkkaPlayground.Core/bin
