<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    </configSections>
    <akka>
        <hocon>
            <![CDATA[
    lighthouse {
        actorsystem: "AkkaCluster"
    }
    akka {
        actor { 
            provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
        }				
        remote {
            helios.tcp {
                hostname = "127.0.0.1"
                port = 2552
            }
        }
        cluster {
            seed-nodes = ["akka.tcp://AkkaCluster@127.0.0.1:2552"]
            roles = [lighthouse]
        }
    }
]]>
        </hocon>
    </akka>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>