.list.padding-list {
    padding-top: 50px;
}

.login .instructions {
  margin: 50px 0;
  padding: 0 15px; }

.profile {
  padding-top: 20px; }
  .profile .profile-picture {
    position: absolute;
    top: 0;
    left: 20px;
    text-align: center; }
    .profile .profile-picture img {
      display: block;
      max-width: 50px;
      max-height: 50px;
      width: 100%;
      height: 100%;
      border-radius: 50%; }
    .profile .profile-picture .upload-placehoder {
      width: 50px;
      height: 50px;
      padding: 5px;
      border: 1px solid #808080;
      border-radius: 50%;
      line-height: 18px;
      font-size: 12px; }
  .profile .instructions {
    min-height: 60px;
    padding: 10px 20px 20px 90px;
    font-size: 14px;
    color: gray; }
  .profile .profile-name {
    margin-top: 20px; }

.item-chat .last-message-timestamp {
  position: absolute;
  top: 16px;
  right: 38px;
  font-size: 14px;
  color: #9A9898; }

.chat {
  background-image: url(../Images/chat-background.jpg);
  background-color: #E0DAD6;
  background-repeat: no-repeat;
  background-size: 100%; }

.header-picture {
  max-width: 33px;
  max-height: 33px;
  width: 100%;
  height: 100%;
  border-radius: 50%; }

.message-list {
  margin-top: 12px;
  padding: 0 5%; }

.message-wrapper {
  margin-bottom: 9px; }
  .message-wrapper::after {
    content: "";
    display: table;
    clear: both; }

.message {
  display: inline-block;
  position: relative;
  max-width: 236px;
  border-radius: 7px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }
  .message.message-mine {
    float: right;
    background-color: #DCF8C6; }
  .message.message-other {
    float: left;
    background-color: #FFF; }
  .message.message-other::before, .message.message-mine::before {
    content: "";
    position: absolute;
    bottom: 3px;
    width: 12px;
    height: 19px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain; }
  .message.message-other::before {
    left: -11px;
    background-image: url(../Images/message-other.png); }
  .message.message-mine::before {
    right: -11px;
    background-image: url(../Images/message-mine.png); }
  .message .message-text {
    padding: 5px 7px;
    word-wrap: break-word; }
    .message .message-text::after {
      content: " \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
      display: inline; }
  .message .message-timestamp {
    position: absolute;
    bottom: 2px;
    right: 7px;
    color: gray;
    font-size: 12px; }

.footer-chat .item-input-wrapper {
  background-color: #FFF; }
.footer-chat .button.button-icon {
  margin: 0 10px; }
.footer-chat .buttons-seperator {
  color: gray;
  font-size: 18px;
  line-height: 32px; }