<ion-view view-title="Chats">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="chat in chats"
                      class="item-chat item-remove-animate item-avatar item-icon-right"
                      type="item-text-wrap"
                      ng-click="openChat(chat)">
                <img ng-src="~/Images/user-default.svg">
                <h2>{{chat.Name}}</h2>
                <p>{{chat.LastMessage}}</p>
                <span class="last-message-timestamp">{{chat.LastMessageDate}}</span>
                <span ng-if="chat.UnReadCount > 0" class="badge badge-positive">{{chat.UnReadCount}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
