<ion-view view-title="Login">
    <ion-content class="padding">
        <div class="list padding-list">
            <label class="item item-input">
                <input type="text" placeholder="Login" ng-model="model.login">
            </label>
        </div>

        <button class="right signuplink button button-clear button-positive" ng-click="goRegister()">
            Register
        </button>

        <div class="clear"/>

        <button ng-click="submit()" class="button button-block button-positive">
            Sign in
        </button>
    </ion-content>
</ion-view>
