<ion-view view-title="Register">
    <ion-content class="padding">
        <div class="list padding-list">
            <label class="item item-input">
                <input type="text" placeholder="Login" ng-model="registerModel.login">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="registerModel.email">
            </label>
        </div>
        <button ng-click="register()" class="button button-block button-positive">
            Submit
        </button>
    </ion-content>
</ion-view>
